* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    height: 163vh;
}
.container {
    box-shadow: 1px 3px 44px 8px rgba(190,190,190,1) inset;
    width: 70%;
    height: 160vh;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 50px;
}
#resume-form{
    margin-top: 40px;
}
h1, h2 {
    text-align: center;
    font-size: 50px;
}
i{
    color: #007BFF;
}
h3{
    font-size: 30px;
}
form {
    margin-bottom: 30px;
}

.section {
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
button {
    color: #090909;
    margin-left: 37%;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  }
  
  button:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  